#navigator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 5rem;
}
.navigator-btn{
    aspect-ratio: 1 / 1;
    width: 2.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
    text-decoration: none;
    color: var(--bs-dark);
    border-radius: 50%;
    font-size: 1.5rem;

    box-shadow:  5px 5px 10px #bebebe,
                -5px -5px 10px white;
    
    transition-property: font-size, box-shadow;
    transition-duration: 100ms;
}

.navigator-btn.cancel{
    background-color: hsl(0, 89%, 46%);
    color: var(--bs-light);
    font-size: 1.7rem;
}

.navigator-btn.cancel:active{
    font-size: 1.4rem;
    box-shadow:  5px 5px 10px #bebebe,
                -5px -5px 10px #ffffff,
                inset -3px -3px 5px -3px hsl(0, 79%, 65%),
                inset 3px 3px 5px -5px hsl(0, 60%, 29%);
}

.navigator-btn.active{
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.navigator-btn.completed{
    background-color: hsl(125, 44%, 54%);
    color: var(--bs-light);
}

.navigator-btn.completed:active{
    font-size: 1.25rem;

    box-shadow:  5px 5px 10px #bebebe,
                -5px -5px 10px #ffffff,
                inset -3px -3px 5px -3px #c0c0c0,
                inset 3px 3px 5px -3px hsl(125, 30%, 28%);
}