<div id="reserva-pivot" data-active="false">
    <div id="reserva-container">
        <div class="card border-0">
            <div class="card-body d-flex flex-column justify-content-between align-items-center">
                <h6 id="travel-address" class="card-title w-100">
                    <i class="bi bi-signpost-fill"></i> -------------------------- <br>
                    <b><i class="bi bi-geo-fill"></i> ------</b>
                </h6>
                
                <table class="table table-sm">
                    <tr>
                        <th scope="row">Cliente</th>
                        <td id="reserva-cliente">-------- --------</td>
                    </tr>
                    <tr>
                        <th scope="row">Asientos</th>
                        <td id="reserva-asientos">0</td>
                    </tr>
                    <tr>
                        <th scope="row">Equipaje</th>
                        <td id="reserva-equipaje">0</td>
                    </tr>
                    
                </table>

                <div class="d-flex justify-content-evenly w-100">
                    <button id="cancel-reserva" type="button" class="btn btn-danger rounded-3">Cancelar <i class="bi bi-x-circle"></i></button>
                    <button type="button" class="btn btn-primary rounded-3">Escanear <i class="bi bi-qr-code-scan"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>