{% extends "blueprints/main_template.html" %}
{% block title %}Equipaje y Asientos{% endblock title %}

{% block style %}
<style>
#in-submit{
    margin-top: 3rem;
    border-radius: 15px;
    font-size: 1rem;
    border: 2px solid var(--background-color);
    box-shadow:  5px 5px 10px #bebebe,
                -5px -5px 10px white;
    color: var(--bs-light);
    background: hsl(0, 0%, 13%);
    aspect-ratio: 21 / 3;
    width: 8rem;

    transition-property: font-size, box-shadow, color, background;
    transition-duration: 100ms;
}
#in-submit:active, #in-submit:focus{
    font-size: 0.9rem;
    box-shadow:  5px 5px 10px #bebebe,
                -5px -5px 10px white,
                inset -5px -5px 10px -3px #3d3d3d,
                inset 5px 5px 10px -3px #000000;
    color: var(--bs-gray-400);
    background: hsl(0, 0%, 10%);
}
.number-input{
    text-align: center;
    height: 3rem;
    width: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 15px;
    background-color: var(--background-color);
    border: 2px solid rgb(198, 214, 221);
    outline: none;

    box-shadow: inset -8px -8px 15px -15px white,
                inset 5px 5px 15px -13px #000000;
    font-weight: 600;
}
.control-input{
    background-color: var(--background-color);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 3rem;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid var(--background-color);

    box-shadow:  5px 5px 10px #bebebe,
                -5px -5px 10px hsl(0, 0%, 95%);

    transition-property: box-shadow, font-size;
    transition-duration: 100ms;
}
.control-input:active{
    font-size: 1.25rem;

    box-shadow:  5px 5px 10px #bebebe,
                -5px -5px 10px hsl(0, 0%, 95%),
                inset -8px -8px 15px -15px white,
                inset 5px 5px 15px -13px #000000;
}

</style>
{% endblock style %}

{% block content %}
<div class="d-flex justify-content-center flex-wrap h-100 text-center">
    <h1 class="text-center mt-5 fs-3">Datos Adicionales</h1>
    <form method="post" class="d-flex flex-wrap justify-content-center w-100">
        <div class="w-100 d-flex justify-content-center align-items-center flex-wrap">
            <span class="w-100">¿Cuantos <strong>asientos</strong>?</span>

            <button type="button" class="control-input" onclick="substract('asientos')"><i class="bi bi-dash-lg"></i></button>
            <input id="asientos" type="text" value="1" class="number-input" name="asientos" readonly/>
            <button type="button" class="control-input" onclick="add('asientos')"><i class="bi bi-plus-lg"></i></button>
        </div>

        <div class="w-100 d-flex justify-content-center align-items-center flex-wrap mt-4">
            <span class="w-100" >¿Cuanto <strong>equipaje</strong> lleva?</span>
            
            <button type="button" class="control-input" onclick="substract('equipaje')"><i class="bi bi-dash-lg"></i></button>
            <input id="equipaje" type="text" value="0" class="number-input" name="equipaje" readonly/>
            <button type="button" class="control-input" onclick="add('equipaje')"><i class="bi bi-plus-lg"></i></button>
        </div>
        <input id="in-submit" type="submit" value="CONTINUAR"/>
    </form>
    {% include "blueprints/navigator.html" %}
</div>
{% endblock content %}

{% block script %}
<script>
function add(id){
    const element = document.getElementById(id);
    if(parseInt(element.value) === 10) return;
    element.value = parseInt(element.value) + 1;
}
function substract(id){
    const element = document.getElementById(id);
    if(parseInt(element.value) === 0 && id === "equipaje") return;
    if(parseInt(element.value) === 1 && id === "asientos") return;

    element.value = parseInt(element.value) - 1;
}
</script>
{% endblock script %}