<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" color="primary" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="Ola()">🤔🤔🤔🤔🤔🤔</ion-button>
  <ion-button (click)="Consulta()" expand="block"  shape="" >ola ejeje</ion-button>
  <p>{{ handlerMessage }}</p>
  <ion-button (click)="notFormulario()">aber cuenta sobre ti</ion-button>

</ion-content>
