{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totem</title>
    <link rel="preload" href="{% static 'css/Style_index.css' %}" as="style">
    <link href="{% static 'css/Style_index.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container-fluid">
            <a href="#" class="logo">
                <img src="{% static 'imagenes/logo.png' %}" width="150px" height="150px" style="margin-left: 20px;" >
            </a>
        </div>
    </header>
    <main>
        <div class="contenedor container">
            <a href="{% url 'Consulta_Transfer' %}" class="link" >
               <input type="button" class="boton" value="Consulta Tranfer"> 
            </a>            
            <a href="{% url 'Login' %}" class="link">
                <input type="button" class="boton" value="Pedir Transfer">
            </a>
            
            <a href="{% url 'seleccion_idioma' %}" class="link"> 
                <input type="button" class="boton" value="Cambiar el idioma">
            </a>
        </div>        
    </main>
</body>
</html>