{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preload" href="{% static 'css/Style_index.css' %}" as="style">
    <link href="{% static 'css/Style_index.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container-fluid">
            <a href="#" class="logo">
                <img src="{% static 'imagenes/logo.png' %}" width="150px" height="150px" style="margin-left: 20px;" >
            </a>
        </div>
    </header>  
    <main>
        <div class="formulario-container">
            <form id="ingresar" class="formulario">  
                <p>Para ingresar digite su correo y su contraseña: <br> (correo y contraseña de prueba) <br> correo: correo@gmail.com / contraseña: 12345678 </p>             
                <br><label for="correo">Ingrese su correo:  </label>
                <br><input type="email" id="correoIngreso" name="correoIngreso" placeholder="Correo@gmail.com" class="form-control" required> <br>
                <br><label for="pass1">Digite su password: </label>
                <br><input type="password" id="contraseña" name="contraseña" minlength="8" required placeholder="*************" class="form-control"> <br>                            
                <br><input type="submit" value="aceptar" class="botoncitoss">
                
            </form> 
            <a href="{% url 'Index' %}" class="link">
                <input type="button" value="Cancelar" class="botoncitoss">
            </a>
        </div>
    </main>
    <script src="{% static 'Java_Script/Java_Login.js' %}"></script>
</body>
</html>