.parrafo{
    text-align: justify;
    color: blue;
    
}

.parrafo2{
    text-align: justify;
    color: red;
}

.wifi{
    color:darkblue
}

.walk{
    color: darkorange;
}

.warning{
    color: red;
}

ion-content.background{
    --background: url('/assets/sad-spongebob.gif') 0 0/100% 100% no-repeat;
}

ion-card.backgroundcard{
    --background: url('/assets/sad-spongebob.gif') 0 0/100% 100% no-repeat;
}
