<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" color="primary" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card class="backgroundcard">
    <img src="" alt="">
    <ion-card-header>  
      <ion-card-title>Awesome Title</ion-card-title>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>  
    <p class="parrafo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusamus enim quibusdam veritatis quis sit? Id alias autem fugiat harum aut numquam sed sequi amet, quaerat fugit quos ex excepturi.
    </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgroundcard">
    <ion-item>
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label> asdasd </ion-label>
      <ion-button fill="outline" slot="end" routerLink="/alert">
        Click me
      </ion-button>  
    </ion-item>
    <ion-card-content>
      <p class="parrafo2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vitae, nobis aspernatur quas ducimus exercitationem reiciendis cupiditate obcaecati corrupti ex in hic, dolorem, iusto amet? Architecto impedit ipsum consequuntur ipsam.
      </p>
    </ion-card-content>
  </ion-card>

<ion-card class="backgroundcard">
  <ion-item href="#">
    <ion-icon slot="start" name="wifi" color="primary"></ion-icon>
    <ion-label class="wifi">Item 1 wifi</ion-label>
  </ion-item>
  
  <ion-item href="#">
    <ion-icon slot="start" name="walk" color="secondary"></ion-icon>
    <ion-label class="walk">Item 2 walk</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon slot="start" name="warning" color="danger"></ion-icon>
    <ion-label class="warning">Item 3 warning</ion-label>
  </ion-item>
</ion-card>

<ion-card>
  <ion-card-title class="ion-padding">Bobtoronja triste</ion-card-title>
  <ion-card-content>
    <p class="parrafo2">
    El bobtoronja ta triste pq no tiene plata.
    </p>
  </ion-card-content>
  <icon-card>
    <img src="assets/sad-spongebob.gif" alt="" class="ion-padding">
  </icon-card>
</ion-card>

</ion-content>